html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
  }


html, body {
	background: #448ed3 ;
    font-family: "Lato";
    height: 100%;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}

.navbar {
    flex: 0 1 auto;
    background:#424242;
    border-bottom: 0.12rem solid #E0E0E0;
}

.navbar a {
    font-family: Roboto, Arial, sans-serif;
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    color:rgba(255, 255, 255, .92);
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: none;
    background: rgba(0,0,0,0.12);
}

.simple_border {
    box-sizing: border-box;
    border: none;
    border-radius: 0.25rem;
    background: #fff;
    color: #444;
}

.shadow {
    box-shadow: 0rem 0px 0.50rem 0rem rgba(0,0,0,0.80);
}

.spaced_box, .spaced_box > div {
    padding: 0.5rem;
}

th {
    font-weight: 700;
}

table, th, td {
    border: 0.06rem solid #E0E0E0;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 0.12rem solid #E0E0E0;
}

td, th {
    padding: 0.5rem;
}

tr:last-child td {
    border-top: 0.18rem solid #E0E0E0;
}

hr {
    border: none;
    color: #E0E0E0;
    background-color: #E0E0E0;
    height: 0.24rem;
}

:disabled {
    background: #EEE;
}

form > * {
    margin: 1rem;
}

legend {
    font-weight: 700;
}

fieldset {
    padding: 0px;
    border: 0.12rem solid #E0E0E0;
}

fieldset > div {
    margin: 1rem;
}

textarea, input[type=text], input[type=password] {
    border-radius: 0.25rem;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    font-family: Lato;
    font-weight: 700;
    font-size: 0.75rem;
    display: block;
    outline: none;
    margin: 0px;
    padding: 0.5rem 0.75rem;
}

button {
    outline: none;
    padding: 0.5rem 0.75rem;
    background: #FFF; 
    font-weight: 700;
    border-width: 0.12rem;
    border-radius: 0.25rem;
    background: #b6ee65;
    border: none;
    color: #51771a;
    outline: none;
    font-size: 0.75rem;
    border-bottom: 0.18rem solid #307d63;
    cursor: pointer;
}

.login_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.teacher_page {
    display: flex;
    flex-direction: row;
}

.teacher_page > div {
    flex: 1;
}